{
	"trailingComma": "none",
	"tabWidth": 4,
	"semi": false,
	"singleQuote": false,
	"printWidth": 80,
	"useTabs": true,
	"arrowParens": "avoid",
	"endOfLine": "auto",
	"bracketSameLine": false,
	"bracketSpacing": true
}
